<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>
<body>
    <%- include('../includes/navigation.ejs') %>
    <form action="/admin/register" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" id="username" /><br><br>

        <label for="email">email</label>
        <input type="email" name="email" id="email" /><br><br>

        <label for="password">Password</label>
        <input type="password" name="password" id="password" /><br><br>
        <!-- <label for="role">role</label> -->
        <!-- <input type="text" name="role" id="role" /><br><br> -->
        <button type="submit">Register</button>
    </form>


<%- include('../includes/end.ejs') %></br>